@import url(reset.css);

@font-face {
    font-family: "Montserrat-Black";
    src: url(../fonts/Montserrat-Italic-VariableFont_wght.ttf);
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}

body {
    background-color: #20d5fa;
}

.container {
    margin: 0 auto;
    width: 1440px;
    display: flex;
    flex-flow: column wrap;
    background-color: #fff;
}

header {
    width: 100%;
    height: 106px;
    display: grid;
    align-items: center;
    justify-items: center;
}

.header-inner {
    width: 940px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;

}

.logo {
    width: 155px;
    height: 100%;
}

nav {
    display: flex;
    width: 324px;
    gap: 34px;
}

.link {
    font-family: 'Montserrat-Black';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #404040;
}

.making-img {
    position: relative;
    background-image: url(../img/makingimg.png);
    width: 100%;
    height: 391px;
    color: #fff;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.making-title1 {
    font-family: 'Montserrat-Black';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    text-transform: uppercase;
}

.making-title2 {
    font-family: 'Montserrat-Black';
    font-style: normal;
    font-weight: 400;
    font-size: 43px;
    text-transform: uppercase;
    margin-bottom: 28px;
}

.making-text {
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.81);
    margin-top: 25px;
}

.making-img::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    background-image: url(../img/x.png);
    width: 52px;
    height: 52px;
    transform: translate(-50%, 50%);
}